html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f2f2f2;
}

.form {
  background-color: #fff;
}

.btn {
  background-color: #000;
}

@media only screen and (min-width: 60em) {

  .space-left {
    padding-left: .5rem;
  }

  .space-right {
    padding-right: .5rem;
  }

}
